#!/usr/bin/env python3
# coding: utf-8

import os
{%- for cell in nb.cells -%}
{% if 'input' in cell.metadata.tags: -%}
def get_input(local=False):
    if local:
    {% filter indent(0) %}
        {{ cell.source }}
    {% endfilter %}
        return filename

    dids = os.getenv('DIDS', None)

    if not dids:
        print("No DIDs found in environment. Aborting.")
        return

    dids = json.loads(dids)
    
    for did in dids:
        print('ls', f'/data/inputs/{did}/0')
        print('ls2', os.listdir(f'/data/inputs/'))
        filename = Path(f'/data/inputs/{did}/0')  # 0 for metadata service
        print(f"Reading asset file {filename}.")
        return filename

{% elif 'train' in cell.metadata.tags: -%}
def run_model(local=False):
    {% filter indent(0) %}
    {{ cell.source }}
    {% endfilter %}

{% elif 'import' in cell.metadata.tags: -%}
{{ cell.source }}
{% endif %}
{% endfor %}
if __name__ == "__main__":
    run_model(get_input())